Imagine we conducted a 7-days a/b-test on new button "Start now!" colour implementation. The results will be presented in a table "df", where

**Ns_cont** - total number of users in control group

**Ns_exp** - total number of users in experiment group

**Xs_cont** - total number of clicks in control group

**Xs_exp** - total number of clicks in experiment group

In [1]:
import numpy as np
import pandas as pd

In [2]:
Xs_cont = [196, 200, 200, 216, 212, 185, 225, 187, 205, 211, 192, 196, 223, 192]
Ns_cont = [2029, 1991, 1951, 1985, 1973, 2021, 2041, 1980, 1951, 1988, 1977, 2019, 2035, 2007]
Xs_exp = [179, 208, 205, 175, 191, 291, 278, 216, 225, 207, 205, 200, 297, 299]
Ns_exp = [1971, 2009, 2049, 2015, 2027, 1979, 1959, 2020, 2049, 2012, 2023, 1981, 1965, 1993]

In [47]:
ns_cont_sum, ns_exp_sum, xs_cont_sum, xs_exp_sum=0, 0, 0, 0

for i in Ns_cont: ns_cont_sum=ns_cont_sum+i
for i in Ns_exp: ns_exp_sum=ns_exp_sum+i
for i in Xs_cont: xs_cont_sum=xs_cont_sum+i
for i in Xs_exp: xs_exp_sum=xs_exp_sum+i

In [56]:
#df = pd.DataFrame([Xs_cont,Ns_cont,Xs_exp,Ns_exp]).T.rename({0:'Xs_cont',1:'Ns_cont',2:'Xs_exp',3:'Ns_exp'}, axis=1)
df = pd.DataFrame([Xs_cont,Ns_cont,Xs_exp,Ns_exp]).rename({0:'Xs_cont',1:'Ns_cont',2:'Xs_exp',3:'Ns_exp'}, axis=0)

In [57]:
df

           0     1     2     3     4     5   ...    8     9     10    11    12    13
Xs_cont   196   200   200   216   212   185  ...   205   211   192   196   223   192
Ns_cont  2029  1991  1951  1985  1973  2021  ...  1951  1988  1977  2019  2035  2007
Xs_exp    179   208   205   175   191   291  ...   225   207   205   200   297   299
Ns_exp   1971  2009  2049  2015  2027  1979  ...  2049  2012  2023  1981  1965  1993

[4 rows x 14 columns]

In [58]:
df['Total'] = [xs_cont_sum,ns_cont_sum, xs_exp_sum, ns_exp_sum]

In [59]:
df

            0     1     2     3     4  ...    10    11    12    13  Total
Xs_cont   196   200   200   216   212  ...   192   196   223   192   2840
Ns_cont  2029  1991  1951  1985  1973  ...  1977  2019  2035  2007  27948
Xs_exp    179   208   205   175   191  ...   205   200   297   299   3176
Ns_exp   1971  2009  2049  2015  2027  ...  2023  1981  1965  1993  28052

[4 rows x 15 columns]

# **Sanity Check**

Compute sd of binomial with probability = 0.5 of success

In [73]:
se1 = np.sqrt((0.5*0.5)/(df.Total.loc['Ns_cont']+df.Total.loc['Ns_exp']))
se1

0.0021128856368212916

Look at margin of error

In [74]:
m = se1*1.96
m

0.004141255848169731

Compute confidence interval around 0.5

In [75]:
conf_int = (0.5-m, 0.5+m)
conf_int

(0.4958587441518303, 0.5041412558481697)

Check whether observed fraction is within interval

In [76]:
p = df.Total.loc['Ns_exp']/(df.Total.loc['Ns_exp']+df.Total.loc['Ns_cont'])
p

0.5009285714285714

p is within the confidence interval, therefore, sanity check is passed.

# **A/B-test analysis**

d_min = 0.1, alpha = 0.05, beta = 0.2

In [72]:
empirical_se = 0.0062
emp_pageviews = 5000

In [78]:
se = (empirical_se*np.sqrt(1/df.Total.loc['Ns_exp']+1/df.Total.loc['Ns_cont']))/np.sqrt(1/5000+1/5000)
se

0.002619982707795742

d = r_exp - r_cont

In [81]:
d = df.Total.loc['Xs_exp']/df.Total.loc['Ns_exp'] - df.Total.loc['Xs_cont']/df.Total.loc['Ns_cont']
d

0.011601019603516588

In [83]:
m2 = se*1.96
m2

0.005135166107279654

In [85]:
conf_int2 = (d-m, d+m)
conf_int2

(0.007459763755346857, 0.01574227545168632)

d_min (practical significance boundary) = 0.01 is within confidence interval, therefore, we are not sure about results, despite the fact, that confidence interval does not include 0 (statistically significant result)

So, we won't implement a new button in our site.